@{
    ViewBag.Title = "Demo";
}

<h2>Demo</h2>

@if (true)
{
    
    <div style="color: red;">
        现在讲解，Razor的特殊用法，请大家认真听讲.
    </div>

}
else
{
    <div>
        现在讲解，Razor的特殊用法，请大家认真听讲.
    </div>
}
